* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Facilita o controle do tamanho dos elementos */
    background-color: none;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: white;
}

/*------------------------------------------------------------*/
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #f3ecec;
}

.navegacao{
    padding: 20px;
}

.foto-minha img{
    width: 52px;
    height: 52px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

/*------------------------------------------------------------*/
main {
    flex: 1; /* Garante que o main ocupe o espaço restante */
    overflow-y: auto; /* Permite rolagem dentro do main se necessário */
    

}

section{
    display: flex;
    flex-direction: column;
   
    align-content: center;
    align-items: center; /* Centraliza o conteúdo horizontalmente */
    text-align: center;
}

hr {
    width: 80%; /* Define a largura da linha */
    height: 2px; /* Define a espessura da linha */
    background-color: #ccc; /* Define a cor da linha */
    border: none; /* Remove a borda padrão */
     /* Centraliza a linha e adiciona margem acima e abaixo */
}

.conteudos{
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.fundos {
    display: flex;
    flex-direction: column;
    /* Permite que as imagens quebrem linha se necessário */
    justify-content: space-around; /* Espaçamento uniforme entre as imagens */
    gap: 10px; /* Espaçamento entre as imagens */
    padding: 0px 20px;
}

.fundos img {
    width: 220px;
    height: 190px; 
    
}

@media (max-width: 768px) {
    .fundos img {
        width: 40%; /* Imagens maiores em telas pequenas */
    }
}

@media (max-width: 480px) {
    .fundos img {
        width: 80%; /* Imagens ainda maiores em telas bem pequenas */
    }
}

/*------------------------------------------------------------*/
footer {
    background-color: #f9f6f6;
    padding: 10px;
    text-align: center;
}